@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2>Who is the king of Austria?</h2>
    <h4>@ViewData["the-king-of-austria"]</h4>
    <h2>Who is the king of Prussia?</h2>
    <h4>@ViewData["the-king-of-prussia"]</h4>
    <h2>Who is the king of England?</h2>
    <h4>@ViewData["the-king-of-england"]</h4>
</div>

